*{
    font-family: Arial, Helvetica, sans-serif
}

#txt-img{
    text-align: center;
}

img{
    width: 500px;
}

#formulario{
    text-align: center;
}

input{
    height: 25px;
    border-radius: 15px;
}

button{
    margin-bottom: 50px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #4285F4;
    color: white;
    border: none;
    cursor:pointer;
    font-weight: bolder;
}

button:hover{
    background-color: #348db3;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #18405271 ;
    transition-duration: 0,8s;
}
